---
import "../styles/global.css";
import ProfileAvatar from "@/components/Avatar";
import JobCard from "@/components/JobCard";
import ProjectCard from "@/components/ProjectCard";
import Footer from "@/components/Footer";
import Navbar from "@/components/Navbar";
import LinkedinLogo from "@/components/LinkedinLogo"
import GithubLogo from "@/components/GithubLogo"
import GmailLogo from "@/components/GmailLogo"
import HackerRoom3D from "@/components/HackerRoom3D";
import DateTag from "@/components/DateTag";
import jobs from "@/data/jobs.json";
import projects from "@/data/projects.json";
import NestJsLogo from "@/components/logos/NestJsLogo";
import NextJsLogo from "@/components/logos/NextJsLogo";
import ReactJsLogo from "@/components/logos/ReactJsLogo";
import NodeJsLogo from "@/components/logos/NodeJsLogo";
import TypescriptLogo from "@/components/logos/TypescriptLogo";
import PostgreSqlLogo from "@/components/logos/PostgreSqlLogo";
import MongoDbLogo from "@/components/logos/MongoDbLogo";
import GoogleCloudLogo from "@/components/logos/GoogleCloudLogo";

const myEmail = 'rodrigo01alexis@gmail.com'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rodrigo Pardo</title>
  </head>

  <body class="max-w-screen-sm m-auto bg-background text-white px-4">
    <main class="flex flex-col gap-8">
      <Navbar client:only />
      <section class="flex flex-col gap-4 mt-28">
        <HackerRoom3D hackerRoomUrl="/assets/models/hacker_room/scene.gltf" client:load />
      </section>
      <section id="profile" class="flex flex-col gap-4">
        <div class="flex flex-col md:flex-row items-center gap-4">
          <div class="flex flex-col gap-4">
            <h1 class="text-2xl font-bold">Rodrigo Pardo Gatica</h1>
            <p class="text-xl">
              <a href="#formation"><strong class="text-white underline decoration-primary">Ingeniero de software</strong></a> con más de <strong class="text-primary">3 años de experiencia</strong>,
              especializado en desarrollo web y la arquitectura de software.
              Apasionado por la calidad del código, el diseño escalable y la
              mejora continua.
            </p>
            <div class="flex flex-wrap gap-2 items-center">
              <a href={`mailto:${myEmail}`} class="flex gap-1 b items-center order rounded-lg bg-secondary text-black px-3 h-10 text-center font-semibold cursor-pointer">
                <GmailLogo />
                Contáctame
              </a>
              <a href="/cv_rodrigo_pardo_v2_es.pdf" download class="flex gap-1 b items-center order border rounded-lg bg-background text-primary px-3 h-10 text-center font-semibold cursor-pointer">
                Descarga mi CV
              </a>
              <div class="flex">
                <a href="https://www.linkedin.com/in/rodrigo-pardo-gatica-07331b218" target="_blank">
                  <LinkedinLogo width={45} height={45} />
                </a>
                <a href="https://github.com/RodrigoPardo19" target="_blank">
                  <GithubLogo width={45} height={45} />
                </a>
              </div>
            </div>
          </div>
          <ProfileAvatar client:load />
        </div>
        <div>
          <ul class="flex gap-1 sm:gap-2 items-center flex-wrap justify-center">
            <TypescriptLogo width={45} height={45} className="text-secondary" />
            <NodeJsLogo width={45} height={45} className="text-secondary" />
            <NestJsLogo width={45} height={45} className="text-secondary" />
            <NextJsLogo width={60} height={60} className="text-secondary" />
            <ReactJsLogo width={45} height={45} className="text-secondary" />
            <PostgreSqlLogo width={45} height={45} className="text-secondary" />
            <MongoDbLogo width={45} height={45} className="text-secondary" />
          </ul>
          <div class="w-full border-t border-primary relative my-1"><p class="text-sm px-2 bg-background absolute top-0 left-1/2 -translate-y-3 -translate-x-1/2">Stack</p></div>
        </div>
      </section>
      <section class="flex flex-col gap-4" id="experience">
        <h2 class="text-2xl font-semibold underline decoration-primary">Experiencia</h2>
        {
          jobs.map((job) => (
            <JobCard
              title={job.title}
              organization={job.organization}
              description={job.description}
              startDate={job.start}
              endDate={job.end}
            />
          ))
        }
      </section>
      <section class="flex flex-col gap-4 relative" id="projects">
		    <div class="absolute bottom-1 md:left-1/3 -z-10 h-[20rem] w-[20rem] rounded-full bg-primary blur-[300px]"></div>
        <h2 class="text-2xl font-semibold underline decoration-primary">Proyectos</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          {projects.map((job) => (
            <ProjectCard
              title={job.title}
              description={job.description}
              url={job.url}
              stack={job.stack}
            />
          ))}
        </div>
      </section>
      <section class="flex flex-col gap-4 relative" id="formation">
        <h2 class="text-2xl font-semibold underline decoration-primary">Formación</h2>
        <div class="relative">
          <div class="flex gap-1 flex-wrap">
            <p>Titulado de Ingeniería Civil Informática</p>
            <DateTag start="2023" />
          </div>
          <a href="" target="_blank" class="text-primary text-sm">Universidad de La Frontera</a>
        </div>
        <div class="relative">
          <div class="flex gap-1 flex-wrap">
            <p>Certificado en conceptos básicos de servicios de computación en la nube</p>
            <DateTag start="2022" end="2025" />
          </div>
          <a href="" target="_blank" class="text-primary text-sm">Certified Cloud Practitioner AWS</a>
        </div>
      </section>
      <section class="flex flex-col gap-4 relative" id="contact">
        <h2 class="text-2xl font-semibold underline decoration-primary">Contacto</h2>
        <ul>
          <li >
            <a href="https://www.linkedin.com/in/rodrigo-pardo-gatica-07331b218/" target="_blank">
              <button type="button" class="flex gap-2 items-center cursor-pointer">
                <LinkedinLogo width={45} height={45} />
                <span class="text-white underline decoration-primary text-lg" >@rodrigo-pardo-gatica</span>
              </button>
            </a>
          </li>
          <li>
            <a href="https://github.com/RodrigoPardo19" target="_blank">
              <button type="button" class="flex gap-2 items-center cursor-pointer">
                <GithubLogo width={45} height={45} />
                <span class="text-white underline decoration-primary text-lg">@RodrigoPardo19</span>
              </button>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <Footer  year={2025}/>
  </body>
</html>
