---
import "../styles/global.css";
import "@fontsource/m-plus-rounded-1c";
import Navbar from "@/components/Navbar";
import Scene3D from "@/components/Scene3D";
import Footer from "@/components/Footer";
import { ClientRouter } from "astro:transitions";

const year = new Date().getFullYear();

const SITE_METADATA = {
  title: "Rodrigo Pardo",
  description:
    "Ingeniero de software con m치s de 3 a침os de experiencia, especializado en desarrollo web y la arquitectura de software. Apasionado por la calidad del c칩digo, el dise침o escalable y la mejora continua.",
  url: "https://github.com/RodrigoPardo19/portafolio",
  image: "https://RodrigoPardo19.github.io/portafolio/images/open-graph.jpg",
};
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portafolio/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_METADATA.description} />
    <meta property="og:title" content={SITE_METADATA.title} />
    <meta property="og:description" content={SITE_METADATA.description} />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content={SITE_METADATA.image} />
    <meta property="og:url" content={SITE_METADATA.url} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={SITE_METADATA.title} />
    <meta name="twitter:description" content={SITE_METADATA.description} />
    <meta name="twitter:image:type" content="image/jpeg" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image" content={SITE_METADATA.image} />
    <title>Rodrigo Pardo</title>
    <ClientRouter />
  </head>

  <body class="max-w-screen-sm m-auto bg-background text-white px-4">
    <header>
      <Navbar client:only />
      <div class="pt-28 pb-8">
        <Scene3D client:only transition:persist />
      </div>
    </header>
    <slot />
    <Footer year={year} />
  </body>
</html>
